# Local

.~*

# Logs

*.log

# Backups

*~
*.bak

# Vendor

vendor/

# TypeScript

typings/

# Node

node_modules/

# SASS

.sass-cache/

# IntelliJ

.idea/

# Sublime

*.sublime-workspace
*.sublime-project

# CTags

*.tags
*.ctags

# VCS

.git/

.svn/
_svn/

CVS/
.cvsignore

.bzr/
.bzrignore

.hg/
.hgignore

SCCS/
RCS/

# PC Files

$RECYCLE.BIN/
Desktop.ini
Thumbs.db
ehthumbs.db

# Mac Files

.AppleDB
.AppleDouble
.AppleDesktop
.com.apple.timemachine.donotpresent
Network Trash Folder
Temporary Items
.LSOverride
.Spotlight-V100
.VolumeIcon.icns
.TemporaryItems
.fseventsd
.DS_Store
.Trashes
.apdisk
Icon?
!Icons
._*

# AWS

.elasticbeanstalk/

# Vagrant

.vagrant/

# NPM-specific exclusions.

*.ts
!*.d.ts
dist/

# Custom code reinserted here via [custom] marker. Add your <custom></custom> comment markers here please.
