/* ==============================================

Template: 404 Bear
Version: 1.0
Author:	Ukieweb

 - General setting
 - Button
 - Wrapper
 - Giraffe
 - Eye
 - Info
 - Animationload
 - Animated setting

================================================ */


/* ------------------
    General setting
-------------------- */
*{
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 300;
}
html{
    height: 100%;
}
body{
    position: relative;
    height: 100%;
    background-color: #84c551;
}

h1, h2, h3, h4, h5, h6{
    color: #ffffff;
}

p{
    font-weight: 300;
}

img{
    background-size: auto;
}

.error{
    border-color: red !important;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #ffffff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #ffffff;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #ffffff;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #ffffff;
}

.container{
    position: relative;
}

/* ------------------
    Button
-------------------- */
.btn{
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
    border: 0px solid;
    border-bottom: 2px solid;
    border-color: #2467b7;
    padding: 10px 41px;
    border-radius: 5px;
    background: none;
    display: inline-block;
    margin: 10px 0;
    background-color: #3c7fd3;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    text-decoration: none;
    cursor: pointer;
}

.btn:hover{
    background: #2467b7;
    color: #ffffff;
    text-decoration: none;
}

/* ------------------
    Wrapper
-------------------- */
#wrapper{
    min-height: 100%;
    height: 100%;
    width: 100%;
}


/* ------------------
    Giraffe
-------------------- */
.giraffe{
    background-image: url("../img/giraffe.png");
    background-position: top right;
    background-repeat: no-repeat;
    width: 100%;
    height: 705px;
    margin: -440px 0 50px;
    position: relative;
}


/* ------------------
    Eye
-------------------- */
.eye{
    background-image: url("../img/eye.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 65px;
    height: 65px;
    position: absolute;
    right: 267px;
    top: 90px;
}


/* ------------------
    Info
--------------------*/
.info{
    position: relative;
    z-index: 999;
}

.info h1{
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;
    margin-top: 200px;
    color: #5a8934;
}

.info h2{
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    margin-top: 10px;
    color: #5a8934;
}

.info p{
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    margin: 20px 0;
    max-width: 500px;
}

/* ------------------
    Animationload
--------------------*/
.animationload {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    z-index: 999999;
}
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -100px;
    width: 200px;
    height: 200px;
    background-image: url("../img/ajax-loader.gif");
    background-position: center;
    background-repeat: no-repeat;
}
