/* ==============================================

Template: 404 Child
Version: 1.0
Author:	Ukieweb

 - General setting
 - Button
 - Wrapper
 - Number
 - Child
 - Info
 - Animationload
 - Animated setting

================================================ */


/* ------------------
    General setting
-------------------- */
*{
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 300;
}
html{
    height: 100%;
}
body{
    position: relative;
    height: 100%;
    background-color: #faee42;
}

h1, h2, h3, h4, h5, h6{
    color: #ffffff;
}

p{
    font-weight: 300;
}

img{
    background-size: auto;
}

.clearfix{
    clear: both;
}

.error{
    border-color: red !important;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #ffffff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #ffffff;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #ffffff;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #ffffff;
}

.container{
    position: relative;
}

/* ------------------
    Button
-------------------- */
.btn{
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
    border: 0px solid;
    border-bottom: 2px solid;
    border-color: #c16000;
    padding: 10px 41px;
    border-radius: 5px;
    background: none;
    display: inline-block;
    margin: 10px 0;
    background-color: #ff7f00;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    text-decoration: none;
    cursor: pointer;
}

.btn:hover{
    background: #e37600;
    color: #ffffff;
    text-decoration: none;
}

/* ------------------
    Wrapper
-------------------- */
#wrapper{
    min-height: 100%;
    height: 100%;
    width: 100%;
}

/* ------------------
    Number
-------------------- */
.number{
    background-image: url("../img/er404.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 700px;
    height: 245px;
    margin: 80px 0 20px;
    float: right;
}

/* ------------------
    Child
-------------------- */
.child{
    background-image: url("../img/child.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 440px;
    height: 440px;
    float: left;
    margin: 0px 50px 50px 0;
    position: relative;
}
.child .mouth{
    position: absolute;
    background-image: url("../img/mouth.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 271px;
    height: 139px;
    top: 151px;
    left: 59px;
    -moz-animation: 0.5s ease 0s normal none infinite mouth;
    -moz-transform-origin: center top;
    -webkit-animation:mouth 0.5s infinite ease-in-out;
    -webkit-transform-origin:top;
    -o-animation: 0.5s ease 0s normal none infinite mouth;
    -o-transform-origin: center top;
    -o-animation:mouth 0.5s infinite ease-in-out;
    -o-transform-origin:top;
    -ms-animation: 0.5s ease 0s normal none infinite mouth;
    -ms-transform-origin: center top;
    -ms-animation:mouth 0.5s infinite ease-in-out;
    -ms-transform-origin:top;
    animation: 0.5s ease 0s normal none infinite mouth;
    transform-origin: center top;
    animation:mouth 0.5s infinite ease-in-out;
    transform-origin:top;
}
.child .hand{
    position: absolute;
    background-image: url("../img/hand.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 45px;
    height: 85px;
    top: 226px;
    left: 167px;
}

@-moz-keyframes mouth {
    0%{  top: 151px;  }
    50%{  top: 153px;  }
    100%{  top: 151px;  }
}
@-webkit-keyframes mouth {
    0%{  top: 151px;  }
    50%{  top: 153px;  }
    100%{  top: 151px;  }
}
@-o-keyframes mouth {
    0%{  top: 151px;  }
    50%{  top: 153px;  }
    100%{  top: 151px;  }
}
@-ms-keyframes mouth {
    0%{  top: 151px;  }
    50%{  top: 153px;  }
    100%{  top: 151px;  }
}
@keyframes mouth {
    0%{  top: 151px;  }
    50%{  top: 153px;  }
    100%{  top: 151px;  }
}


@-moz-keyframes mouth_little {
    0%{  top: 51px;  }
    50%{  top: 52px;  }
    100%{  top: 51px;  }
}
@-webkit-keyframes mouth_little {
    0%{  top: 51px;  }
    50%{  top: 52px;  }
    100%{  top: 51px;  }
}
@-o-keyframes mouth_little {
    0%{  top: 51px;  }
    50%{  top: 52px;  }
    100%{  top: 51px;  }
}
@-ms-keyframes mouth_little {
    0%{  top: 51px;  }
    50%{  top: 52px;  }
    100%{  top: 51px;  }
}
@keyframes mouth_little {
    0%{  top: 51px;  }
    50%{  top: 52px;  }
    100%{  top: 51px;  }
}

/* ------------------
    Info
--------------------*/
.info{
    position: relative;
    z-index: 999;
}

.info h2{
    font-size: 50px;
    font-weight: 700;
    color: #734b1e;
}

.info p{
    font-size: 20px;
    color: #553614;
}

/* ------------------
    Animationload
--------------------*/
.animationload {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    z-index: 999999;
}
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -100px;
    width: 200px;
    height: 200px;
    background-image: url("../img/ajax-loader.gif");
    background-position: center;
    background-repeat: no-repeat;
}
