[user]
  name = localhost
  email = git@localhost
[core]
  eol = lf
  ignorecase = true
  excludesfile = ~/.gitignore
  autocrlf = input
  filemode = true
  editor = vim
[push]
  default = simple
[pull]
	rebase = true
[color]
  ui = auto
  diff = auto
  status = auto
  branch = auto
  interactive = auto
[credential]
  helper = store
[alias]
  # See: `~/.zsh/funcs/git` for others.
	fs = "!f() { phing feature-start -D issue=\"$1\"; }; f"
  ff = "!f() { phing feature-finish -D force=false; }; f"
  fff = "!f() { phing feature-finish -D force=true; }; f"
  aliases = !git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /'
[filter "lfs"]
  required = true
	clean = git-lfs clean %f
	smudge = git-lfs smudge --skip %f
