[user]
  name = localhost
  email = git@localhost
[core]
  eol = lf
  ignorecase = true
  excludesfile = ~/.gitignore
  autocrlf = input
  filemode = true
  editor = vim
[push]
  default = simple
[credential]
  helper = store
[alias]
  s = status
  df = diff
  dc = diff --cached

  br = branch
  co = checkout
  mas = checkout master
  dev = checkout 000000-dev

  cl = clone
  clr = clone --recurse-submodules

  lr = ls-remote --heads
  lrt = ls-remote --tags

  lg = log --since=3.months --abbrev-commit --pretty=oneline --decorate --graph --all

  ; Shows all of my configured aliases.
  aliases = !git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /'
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge --skip %f
	required = true
