

@media (max-width: 1200px) {

    .info {
        text-align: center;
    }

    .info p {
        max-width: 100%;
    }

    .bear {
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        width: 100%;
        height: 720px;
        margin: -120px 0 50px;
        position: relative;
    }

}

@media (max-width: 992px) {

    .bear {
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        width: 100%;
        height: 556px;
        margin: -120px 0 50px;
        position: relative;
    }

}

@media (max-width: 600px) {


    .zzz {
        background-size: 100%;
        width: 20px;
        height: 34px;
        bottom: 125px;
    }

    .bear {
        height: 456px;
    }

}

@media (max-width: 440px) {

    .info h1 {
        font-size: 90px;
        font-weight: 700;
        margin-top: 10px;
        color: #222a4b;
    }

    .info h2 {
        font-size: 28px;
    }

    .info p {
        font-size: 16px;
    }

    .zzz {
        background-size: 100%;
        width: 20px;
        height: 34px;

    }

    .bear {
        height: 330px;
        margin: -90px 0 10px;
    }

}
